//
// Quotations.
//
// @package Typeset.css
//

//
// Inline quotes.
//
q {
  quotes: "\2018" "\2019" "#{$typ-open-quote}" "#{$typ-close-quote}";

  &::before {
    content: "\2018";
    content: open-quote;
  }

  &::after {
    content: "\2019";
    content: close-quote;
  }

  q::before {
    content: "\201C";
    content: open-quote;
  }

  q::after {
    content: "\201D";
    content: close-quote;
  }
}

//
// Blockquotes.
//
blockquote {
  quotes: "#{$typ-open-quote}" "#{$typ-close-quote}";

  q::before {
    content: "\2018";
    content: open-quote;
  }

  q::after {
    content: "\2019";
    content: close-quote;
  }
}
