/*------------------------------------*\
    #CODEBLOCK
\*------------------------------------*/
/**
 * Codeblock whitespace
 */
@mixin white-space($wrap-space) {
	@if $wrap-space == 'pre-wrap' {
		white-space: #{-moz-}$wrap-space; // Firefox 1.0-2.0
		white-space: $wrap-space;
	} @else {
		white-space: $wrap-space;
	}
}
