/*------------------------------------*\
    #HELPERS
\*------------------------------------*/
/**
 * Word-wrapping
 */
%breakword {
	word-wrap: break-word;
}

%normal-wrap {
	word-wrap: normal;
}

%inherit-wrap {
	word-wrap: auto;
}
