@if $typ-use-opentype == true {

//
// Custom ampersand font-face.
//
// Set ampersands in a different typeface using `unicode-range`.
//
// @package Typeset.css
//
$typ-ampersand-face:     Ampersand !default;
$typ-ampersand-source:   local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua") !default;
$typ-ampersand-fallback: local("Georgia") !default;

//
// Ampersand `@font-face` setup.
//
@font-face {
  font-family: "#{$typ-ampersand-face}";
  src: $typ-ampersand-source;
  unicode-range: U+0026;
}

//
// Apply ampersand font-family by class or `@extend`.
//
%#{$typ-namespace}ampersand,
.#{$typ-namespace}ampersand {
  font-family: $typ-ampersand-face;
}

}
