@if $typ-use-opentype == true {

//
// Custom ampersand font-face.
//
// Set ampersands in a different typeface using `unicode-range`.
//
$typ-ampersand-face:     Ampersand !default;
$typ-ampersand-source:   local('Georgia'), local('Garamond'), local('Palatino'), local('Book Antiqua') !default;
$typ-ampersand-fallback: local('Georgia') !default;

//
// Ampersand `@font-face` setup.
//
@font-face {
  font-family: "#{$typ-ampersand-face}";
  src: $typ-ampersand-source;
  unicode-range: U+0026;
}

//
// Apply ampersand font-family by class or `@extend`.
//
%#{$typ-namespace}ampersand,
.#{$typ-namespace}ampersand {
  font-family: $typ-ampersand-face;
}

}


/**
 * Allows for our ampersand element to have differing font-family from the
 * ampersand unicode font-family.
 */
@font-face {
    font-family: '#{$amp-fontface-name}';
    src: $amp-fontface-source;
    unicode-range: U+0026;
}

// Ampersand fallback font for unicode range
@font-face {
    font-family: '#{$amp-fontface-name}';
    src: $amp-fontface-fallback;
    unicode-range: U+270C;
}


/**
 * Call your ampersand on any element you wish from another stylesheet using
 * this Sass extend. For exmaple:
 *
    <h6 class="ampersand">Dewey Cheat 'em & Howe</h6>

    .ampersand { @extend %ampersand-placeholder; }
 *
 */
@mixin ampersand($amp-font-family...) {
    font-family: $amp-font-family;
}

%ampersand-placeholder {
    @include ampersand($amp-fontface-name, $amp-font-family);
}
