/*------------------------------------*\
    #SMALLCAPS
\*------------------------------------*/
/**
 * Small capitals
 *
 * @link http://blog.hypsometry.com/articles/true-small-capitals-with-font-face
 */
@mixin smallcaps($color, $font-weight) {
	// depends on the font family.
	// some font-families don't support small caps
	// or don't provide them with their web font.
	font-variant: small-caps;
	font-weight: $font-weight;
	text-transform: lowercase;
	color: $color;
}
