@import 'node_modules/open-color/open-color.scss';
@import 'node_modules/tachyons-sass/scss/_variables.scss';


$colormap: (
    grey-0: $oc-gray-0,
    grey-1: $oc-gray-1,
    grey-3: $oc-gray-3,
    grey-7: $oc-gray-7,
    grey-9: $oc-gray-9,
    blue-6: $oc-blue-6,
    cyan-4: $oc-cyan-4,
    cyan-7: $oc-cyan-7,
);


// Spacing scale.
$s1: $spacing-extra-small;
$s2: $spacing-small;
$s3: $spacing-medium;
$s4: $spacing-large;
$s5: $spacing-extra-large;
$s6: $spacing-extra-extra-large;
$s7: $spacing-extra-extra-extra-large;

// Width scale.
$w1: $width-1;
$w2: $width-2;
$w3: $width-3;
$w4: $width-4;
$w5: $width-5;

// Border radius scale.
$br1: $border-radius-1;
$br2: $border-radius-2;
$br3: $border-radius-3;
$br4: $border-radius-4;


$font-sans: 'adelle-sans', sans-serif;
$font-serif: 'adelle', serif;
$font-mono: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', 'Courier', monospace;
$default-font-size: 16px;
$base-line-height:  1.5;

$size-headline:    6rem; // 96px;
$size-subheadline: 5rem; // 80px;

$typ-use-headings:  true;
$typ-use-opentype:  true;
$typ-use-ampersand: true;
$typ-set-antialias: true;

$typ-font-family:        "adelle-sans", sans-serif;
$typ-ampersand-source:   local("adelle"), url('/ampersand.woff') format("woff"), url('/ampersand.otf') format("otf");
$typ-ampersand-fallback: $typ-font-family;

$typ-h1-size: 48px;
$typ-h2-size: 36px;
$typ-h3-size: 24px;
$typ-h4-size: 20px;
$typ-h5-size: 16px;
$typ-h6-size: 14px;

$typ-line-height:   1.5;

$typ-ot-base: (
    "kern" 1,
    "liga" 1,
    "calt" 1,
    "pnum" 1,
    "tnum" 0,
    "onum" 1,
    "lnum" 0,
    "dlig" 0
);

$color-headings: $oc-gray-8;
$color-text:   $oc-gray-7;
$color-arrow:  $oc-gray-6;
$color-border: $oc-gray-3;
$color-accent: $oc-blue-7;
$color-bg-code: $oc-gray-8;


$width-small:  480px;
$width-medium: 960px;
$width-large:  1440px;

$width-sidebar: 20rem;
$width-content: 740px;
$height-navbar: 3.6rem;
$width-linenumbers: $w3;

$MQNarrow: 959px;
$MQMobile: 719px;
$MQMobileNarrow: 419px;

$codeLang: (js ts html md vue css sass scss less stylus go java c sh yaml py);
