.custom-block
  .custom-block-title
    float left
    font-weight 600
    // margin-bottom -0.4rem
    position relative
    top 0.125rem
    display inline-block
    padding 0.275rem 0.425rem
    margin-right 0.5rem
    // font-size ms(-1)
    font-size 0.875em
    font-weight 600
    line-height 100%
    color darken(#ffe564, 70%)
    text-transform uppercase
    letter-spacing 0.1ex
    white-space nowrap
    vertical-align middle
    background-color rgba(255,229,100,.3)
    border-radius 2px
    + p
        margin-top 0
  &.tip, &.warning, &.danger
    // padding .1rem 1.5rem
    // border-left-width .5rem
    // border-left-style solid
    // margin 1rem 0
  &.tip
    float left;
    width 32rem;
    max-width calc(50% + -4rem);
    margin 1rem 2rem 0 -6rem;
    font-size 0.875em;
    text-align justify;
    background-color rgba(0,0,0,0.05)
    border-color #42b983
  &.warning
    background-color rgba(255,229,100,.3)
    border-color darken(#ffe564, 35%)
    color darken(#ffe564, 70%)
    .custom-block-title
      color darken(#ffe564, 50%)
    a
      color $textColor
  &.danger
    background-color #ffe6e6
    border-color darken(red, 20%)
    color darken(red, 70%)
    .custom-block-title
      color darken(red, 40%)
    a
      color $textColor
