//
// Internal mixins & functions.
//
// @package Typeset.css
//

//
// Strip units from values.
//
// @access  private
// @param   {str}   $unit A value with a unit
// @example
//     _strip-units(10px);
// @since   0.1.0
//
@function _strip-units($unit) {

  @return $unit / ($unit * 0 + 1);

}

//
// Opentype feature settings.
//
// Fakes "inheritance" of `font-feature-settings` using a baseline settings
// variable.
//
// @access  public
// @param   {list} $feature  A list of tag–value pairs
// @return  {list} $features Updated list of tag–value pairs.
// @example
//     .class {
//       font-feature-settings: opentype("kern" 1);
//     }
// @since   0.1.0
//
@function opentype($feature...) {

  $features: $typ-ot-base;

  @if length($feature) > 0 {

    @each $pair in $feature {

      $tag: nth($pair, 1);
      $nth: index($typ-ot-base, $tag 0) or index($typ-ot-base, $tag 1);

      // Setting exists so modify the value.
      @if type-of($nth) == number {

        $step: ();

        @if $nth > 1 {

          @for $i from 1 through $nth - 1 {

            $step: append($step, nth($features, $i), comma);

          }

        }

        @if $nth < length($features) {

          @for $i from $nth + 1 through length($features) {

            $step: append($step, nth($features, $i), comma);

          }

        }

        $features: $step;

      }

      // Setting not already in list so add it.
      @else {

        $features: append($features, $pair);

      }

    }

  }

  @return $features;

}

//
// Font-size & line-height.
//
// Generates a rem-based font-size with pixel value fallback, as well as a
// unitless line-height, based on base font settings.
//
// @example
//     .class {
//       @include typ-font-size(12px);
//     }
// @since   0.1.0
//
@mixin typ-font-size($typ-font-size, $typ-line-height: auto) {

  font-size: $typ-font-size;
  font-size: ($typ-font-size / $base-font-size) * 1rem;

  @if $typ-line-height == auto {

    line-height: ceil($typ-font-size / $base-line-height) * ($base-line-height / $typ-font-size);

  } @else {

    @if (type-of($typ-line-height) == number or $typ-line-height == inherit or $typ-line-height == normal) {

      line-height: $typ-line-height;

    } @elseif ($typ-line-height != none and $typ-line-height != false) {

      @warn "✘ ‘#{$typ-line-height}’ is not a valid value for `line-height`.";

    }

  }

}

//
// Font-size with calc() & vw units.
//
// @param {str} $min-font    Minimum font-size
// @param {str} $max-font    Maximum font-size
// @param {str} $min-width   Minimum browser width
// @param {str} $max-width   Maximum browser width
// @param {int} $min-leading Minimum line-height
// @param {int} $max-leading Maximum line-height
// @since 0.1.0
//
@mixin typ-calc-size($min-font, $max-font, $min-width, $max-width, $min-leading: auto, $max-leading: auto) {

  $_min-font:  _strip-units($min-font);
  $_max-font:  _strip-units($max-font);
  $_min-width: _strip-units($min-width);
  $_max-width: _strip-units($max-width);

  font-size: $min-font;

  @if ($min-leading != auto and typeof($min-leading) == number) {
    line-height: $min-leading;
  }

  @media (min-width: $min-width) {
    font-size: calc(#{$min-font} + (#{$_max-font} - #{$_min-font}) * ((100vw - #{$min-width}) / (#{$_max-width} - #{$_min-width})));

    @if ($min-leading != auto and typeof($min-leading) == number) {
      line-height: calc(#{$min-leading} + (#{$max-leading} - #{$min-leading}) * ((100vw - #{$min-width}) / (#{$_max-width} - #{$_min-width})));
    }
  }

  @media (min-width: $max-width) {
    font-size: $max-font;

    @if ($max-leading != auto and typeof($max-leading) == number) {
      line-height: $max-leading;
    }
  }

}
