//
// Default package settings.
//
// @package Typeset.css
//

//
// Class namespace.
//
// Prepend classes/placeholders with a namespace.
//
// @since 0.1.0
//
$typ-namespace: null !default;

//
// Main typographic settings.
//
$typ-font-size:   16px   !default;
$typ-line-height: 28px   !default;
$typ-font-min:    12px   !default;
$typ-font-max:    20px   !default;
$typ-width-min:   600px  !default;
$typ-width-max:   1140px !default;

$typ-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$typ-open-quote:  \201C  !default;
$typ-close-quote: \201D  !default;

$typ-body-color:  #333;
$typ-bg-color:    #fff;

//
// Option flags.
//
// @see _headings.scss
// @see _opentype.scss
// @see _ampersand.scss
//
$typ-use-headings:  false !default;
$typ-use-opentype:  false !default;
$typ-use-ampersand: false !default;
