//
// Default package settings.
//
// @package Typeset.css
//

//
// Class namespace.
//
// Prepend classes/placeholders with a namespace.
//
// @since 0.1.0
//
$typ-namespace: null !default;

//
// Main typographic settings.
//
$typ-font-size:   16px   !default;
$typ-line-height: 1.5    !default;

// Need a value with units for applying margins.
$typ-leading:     ($typ-font-size * $typ-line-height) !default;

$typ-font-min:    12px   !default;
$typ-font-max:    20px   !default;
$typ-width-min:   600px  !default;
$typ-width-max:   1140px !default;

$typ-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;

$typ-open-quote:  “      !default;
$typ-close-quote: ”      !default;
$typ-quote-width: 0.41em !default;

$typ-body-color:   #333    !default;
$typ-bg-color:     #fff    !default;
$typ-select-color: #fff    !default;
$typ-select-bg:    #772392 !default;

//
// Option flags.
//
// @see _base.scss
// @see _ampersand.scss
// @see _headings.scss
// @see _opentype.scss
//
$typ-set-antialias: false !default;
$typ-use-ampersand: false !default;
$typ-use-headings:  false !default;
$typ-use-opentype:  false !default;
