@if $typ-use-opentype == true {

  //
  // Custom ampersand font-face.
  //
  // Set ampersands in a different typeface using `unicode-range`.
  //
  // @link 24ways.org/2011/creating-custom-font-stacks-with-unicode-range
  // @package Typeset.css
  //
  $typ-ampersand-face:     Ampersand !default;
  $typ-ampersand-source:   local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua") !default;
  $typ-ampersand-fallback: local("Georgia") !default;

  //
  // Ampersand `@font-face` setup.
  //
  @font-face {
    font-family: "#{$typ-ampersand-face}";
    src: $typ-ampersand-source;
    unicode-range: U+0026;
  }

  @font-face {
    font-family: "#{$typ-ampersand-face}";
    src: $typ-ampersand-fallback;
    unicode-range: U+270C;
  }

  @mixin typ-ampersand($font-family...) {

    font-family: $font-family;

  }

  //
  // Apply ampersand font-family by class or `@extend`.
  //
  %#{$typ-namespace}ampersand,
  .#{$typ-namespace}ampersand {
    @include typ-ampersand($typ-ampersand-face, $typ-font-family);
  }

}
