//
// Dropcaps.
//
// Set direction to `right` for rtl text. Apply further styling such as
// `font-size` & `background-color` within. Includes clearfix style for
// parent element.
//
// @param   {str} $direction Float direction, defaults to left
// @example
//     p:first-of-type {
//
//       @include typ-dropcap() {
//         font-size: 20rem;
//         background-color: #bada55;
//       }
//     }
// @package Typeset.css
//
@mixin typ-dropcap($direction: left) {

  &::after {
    display: table;
    clear: both;
    content: "";
  }

  &::first-letter {
    float: $direction;

    @content;
  }

}
