//
// Comfortable measure.
//
// @link  http://tympanus.net/codrops/css_reference/hyphens/
// @since 0.4.0
//
@mixin typ-measure($max: 70, $min: null, $center: false) {

  max-width: $max * 1ch;
  hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-lines: 3;
  hyphens: auto;
  word-break: break-word;

  @if type-of($min) == number {

    min-width: $min * 1ch;

  } @elseif $min != null {

    @warn "✘ ‘#{$min}’ is not a valid value.";

  }

  @if $center != false {

    margin-right: auto;
    margin-left: auto;

  }

}
