//
// Easy tracking control.
//
// Enter tracking values from Photoshop mockups and convert to something CSS
// understands as a `letter-spacing` value. Also applies `font-kerning` to
// prevent Chrome & Opera from disabling Opentype settings.
//
// @param   {int}  $val         Value (negative or positive) to adjust tracking
// @param   {bool} $is-centered Centered text flag
// @example
//     .class {
//       @include typ-tracking(-50);
//     }
// @link    http://codepen.io/bramstein/pen/rajYEj
// @since   0.3.0
//
@mixin typ-tracking($val, $is-centered: false) {

  @if type-of($val) == number {

    $space: ($val / 1000) * 1em;
    letter-spacing: $space;
    font-kerning: normal;

    @if $is-centered == true {

      margin-left: $space;

    }

  } @else {

    @warn "✘ ‘#{$val}’ is not a number value.";

  }

}
