// colors
$color-accent: #3eaf7c;
$color-text: #2c3e50;
$color-border: #eaecef;
$color-bg-code: #282c34;
$color-arrow: #ccc;

// layout
$height-navbar: 3.6rem;
$width-sidebar: 20rem;
$width-content: 740px;

// responsive breakpoints
$MQNarrow: 959px;
$MQMobile: 719px;
$MQMobileNarrow: 419px;

// code
$width-linenumbers: 3.5rem;
$codeLang: (js ts html md vue css sass scss less stylus go java c sh yaml py);
