h1, h2, h3, h4, h5, h6 {
    @include typ-tracking(-10);

    font-weight: 300;
    line-height: 1.25;
    color: $color-headings;

    &:hover .header-anchor { opacity: 1; }
}

h2 {
    margin-top: $s6;
    clear: both;
    font-family: 'adelle', serif;
    font-size: $f1;

    .lede + & { margin-top: $s5; }
}

h3 {
    position: relative;
    overflow: hidden;
    clear: both;
    font-size: $f2;
    line-height: 1.3; // Prevent descenders from being cut-off by `overflow`.

    &::after {
        position: relative;
        right: -1rem;
        display: inline-block;
        width: 100%;
        margin-right: -100%;
        vertical-align: middle;
        content: '';
        border-top: 1px solid $color-border;
    }

    p + & {
        margin-top: $s5;
    }
}

a {
    &:not(.header-anchor) {
        color: $oc-blue-7;
        text-decoration: none;
    }
}

p {
    @include typ-measure(66);
}

// stylelint-disable-next-line selector-no-qualifying-type
p.lede {
    font-size: $f3;
    line-height: 1.5;
}

.header-anchor {
    float: left;
    padding-right: 0.23em;
    margin-top: 0.125em;
    margin-left: -0.87em;
    font-size: 0.85em;
    opacity: 0;

    &:hover { text-decoration: none; }
}

.project-meta {
    var {
        font-feature-settings: opentype('lnum' 1, 'onum' 0, 'smcp' 1);
    }
}
