//
// High-, page-level text styles.
//
// @package Typeset.css
//

//
// Text-selection.
//
::-moz-selection {
  color: inherit;
  text-shadow: inherit;
  background-color: #accef7;
}

::selection {
  color: inherit;
  text-shadow: inherit;
  background-color: #accef7;
}

//
// Input placeholder.
//
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.6;
}

:-moz-placeholder {
  color: inherit;
  opacity: 0.6;
}

::-moz-placeholder {
  color: inherit;
  opacity: 0.6;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 0.6;
}

//
// Page-level text settings.
//
html {
  @include typ-font-size($typ-font-size);

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

//
// Set standard text colour.
//
// For better contrast, use a colour lighter than `#000` for text on a white
// background. By default, `<body>` has no `background-color` so let's
// define one.
//
body {
  color: $typ-body-color;
  background-color: $typ-bg-color;
}
