//
// Block-level elements.
//
// Elements that aren't headings or paragraphs that deserve some basic
// type refinement.
//
// @package Typeset.css
//

//
// Address blocks.
//
address {
  margin-bottom: $typ-leading;
  font-style: normal;
  line-height: inherit;
}

//
// Figure blocks.
//
figure {
  margin: 0 0 $typ-leading;
}

//
// Preformatted blocks.
//
pre {
  margin-top: 0;
  margin-bottom: $typ-leading;

  code {
    word-wrap: normal;
    white-space: pre-wrap;
  }
}
