//
// List style resets.
//
// Reset vertical margins of list blocks. Remove extra vertical space of 
// nested lists.
//
// @package Typeset.css
//
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: $typ-line-height;
}

li {

  > ul,
  > ol {
    margin-bottom: 0;
  }
}

//
// Definition lists.
//
// Reset margins & increase weight of `<dt>` elements.
//
dt {
  font-weight: bold;
}

dd {
  margin-bottom: ($typ-line-height / 2);
  margin-left: 0;
}
