//
// Paragraphs.
//
// @package Typeset.css
//
p {
  margin-top: 0;
  margin-bottom: $typ-line-height;

  &.lede,
  &.lead {
    @include typ-font-size($typ-h5-size);
  }
}

//
// First-line indentation style.
//
// Wrap paragraps with `indented` class to remove margin and indent first line
// of adjacent paragraphs.
//
.indented {

  p {

    + p {
      margin-top: -#{$typ-line-height};
      text-indent: $typ-line-height;
    }
  }
}
